.nvl-body-header {
  padding: $p-10 * 2 $p-10 * 5;
  padding-bottom: 0;
  .header-title {
    width: $w-100;
    & * {
      margin: 0;
    }
  }
  .header-right {
    width: $w-100;
    & * {
      margin: 0;
    }
  }
  @include respond(lgTablet) {
    padding: $p-10 * 2;
  }
  @include respond(mdPhone) {
    padding: $p-10 * 2 $p-10;
  }
}
