.nvl-info-row {
  width: $w-100;
  padding: $p-5 0;
  display: flex;
  justify-content: space-between;
  .row-title {
    font-weight: $semiBold;
  }
}

.nvl-info-row--dark {
  & * {
    color: $tPrimary;
  }
}

.nvl-info-row--light {
  & * {
    color: $tSecondary;
  }
}
