.home-advantage {
  .advantage-title {
    color: $tPurple;
    margin-bottom: $m-10;
  }
  .advantage-sub-title {
    font-weight: $light;
  }
  .advantage-slide-item {
    padding: $p-10 * 2 $p-10 * 5;
  }
}
