.home-benefit {
  width: $w-100;
  padding-bottom: $p-10 * 30;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    width: $w-100;
    height: $h-100;
    background: $RGBA-white-4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .benefit-title {
    color: $tPurple;
  }
}
