.detail-lesson {
  .lesson-inner {
    .inner-card {
      border: unset;
      background: $primary;
    }
    .lesson-item {
      &:hover .col-content {
        transform: scale(1.1);
      }
      &:hover .col-image .image-wrap img {
        transform: scale(1.1);
      }
      .item-group {
        min-height: $h-10 * 5;
        .group-title {
          min-width: $w-10 * 8;
          min-height: $h-10 * 5;
          max-height: $h-10 * 5;
          padding: $p-10 * 2;
          border-radius: $rounded;
          background: $primary;
          display: flex;
          justify-content: center;
          align-items: center;
          @include respond(mdTablet) {
            width: $w-100;
            min-width: $w-100;
            min-height: auto;
            height: auto;
          }
        }
        .group-col {
          min-height: $h-10 * 5;
          .col-inner {
            height: $h-10 * 35;
            @include respond(mdTablet) {
              height: auto;
            }
          }
          .col-content {
            padding: $p-10 * 5;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all $durationMd $func;
            @include respond(mdTablet) {
              padding: $p-10;
            }
          }
          .col-image {
            padding: $p-10 * 5;
            display: flex;
            align-items: center;
            justify-content: center;
            .image-wrap {
              width: $w-10 * 25;
              height: $h-10 * 25;
              position: relative;
              &::before {
                content: "";
                width: $w-10 * 10;
                height: 5px;
                background: $primary;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                @include respond(laptop) {
                  width: $w-10 * 7;
                }
                @include respond(lgTablet) {
                  width: $w-10 * 6;
                }
              }
              &::after {
                content: "";
                width: $w-10 * 3;
                height: $h-10 * 3;
                border-radius: $circle;
                background: $primary;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
              .wrap-view {
                border-radius: $circle;
                img {
                  border: 10px solid $primary;
                  border-radius: $circle;
                  box-shadow: 0 0 10px $dark-1;
                  background: $secondary;
                  overflow: hidden;
                  transition: all $durationMd $func;
                }
              }
            }
          }
          @include respond(mdTablet) {
            border: unset !important;
          }
        }
        @include respond(mdTablet) {
          justify-content: unset;
        }
      }
      &:nth-child(odd) {
        .item-group {
          flex-direction: row;
          .group-col {
            &:nth-child(1) {
              border-right: 2px solid $primary;
            }
            &:nth-child(2) {
              border-left: 2px solid $primary;
            }
            .image-wrap {
              &::before {
                left: -100px;
                @include respond(laptop) {
                  left: -70px;
                }
                @include respond(lgTablet) {
                  left: -60px;
                }
              }
              &::after {
                left: -120px;
                @include respond(laptop) {
                  left: -90px;
                }
                @include respond(lgTablet) {
                  left: -80px;
                }
              }
            }
          }
        }
      }
      &:nth-child(even) {
        .item-group {
          flex-direction: row-reverse;
          .group-col {
            &:nth-child(1) {
              border-left: 2px solid $primary;
            }
            &:nth-child(2) {
              border-right: 2px solid $primary;
            }
            .image-wrap {
              &::before {
                right: -100px;
                @include respond(laptop) {
                  right: -70px;
                }
                @include respond(lgTablet) {
                  right: -60px;
                }
              }
              &::after {
                right: -120px;
                @include respond(laptop) {
                  right: -90px;
                }
                @include respond(lgTablet) {
                  right: -80px;
                }
              }
            }
          }
        }
      }
      @include respond(mdTablet) {
        margin: $m-10 * 2 0;
      }
    }
  }
}
