.detail-subject {
  .subject-item {
    width: $w-100;
    height: $h-10 * 40;
    position: relative;
    z-index: 1;
    &:hover .item-image {
      box-shadow: 0 0 5px $dark-1;
    }
    &:hover .item-image img {
      transform: scale(1.2);
    }
    &::after {
      content: "";
      width: $w-100 - 20;
      height: $h-100;
      background: $blue-1;
      border-radius: $roundedLg;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      @include respond(mdPhone) {
        width: $w-100;
      }
    }
    .item-image {
      width: $w-10 * 20;
      height: $h-10 * 20;
      border-radius: $roundedLg;
      overflow: hidden;
      transition: all $durationMd $func;
      img {
        transition: all $durationMd $func;
      }
      @include respond(laptop) {
        width: $w-10 * 30;
        height: $h-10 * 30;
      }
      @include respond(smTablet) {
        width: $w-10 * 25;
        height: $h-10 * 25;
      }
    }
    .item-content {
      @include respond(mdPhone) {
        padding: $p-10 * 2;
      }
    }
    @include respond(mdPhone) {
      height: auto;
    }
  }
}
