.blog-detail {
  .detail-body {
    @include respond(mdPhone) {
      padding: $p-10;
    }
  }
  .detail-relative-item {
    .item-image {
      margin-bottom: $m-10;
      height: $h-10 * 20;
      border-radius: $rounded;
      overflow: hidden;
    }
    .item-title {
      margin: 0;
    }
  }
}
