@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $tPrimary;
  font-size: $default;
  font-family: "Poppins", "Arial", sans-serif;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: $gray-2;
  }
  &::-webkit-scrollbar-track {
    background: $white-1;
  }
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  outline: none;
}

img {
  width: $w-100;
  height: $h-100;
  object-position: center;
}
